<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCF45_UPD_Binding_Service.Service">
        <endpoint address="http://localhost:3401/MyServHttp" 
                  binding="basicHttpBinding"
                  contract="WCF45_UPD_Binding_Service.IService">
        </endpoint>

        <endpoint address="net.tcp://127.0.0.1:3402/MyServTcp"
                  binding="netTcpBinding"
                  contract="WCF45_UPD_Binding_Service.IService">
        </endpoint>

        <endpoint address="soap.udp://localhost:3403/MyServUdp"
                  binding="udpBinding"
                  contract="WCF45_UPD_Binding_Service.IService">
        </endpoint>
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:3400/MyServ"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
