<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <udpBinding>
                <binding name="UdpBinding_IService1" />
            </udpBinding>
        </bindings>
        <client>
            <endpoint address="soap.udp://localhost:7809/MyServUDP" binding="udpBinding"
                bindingConfiguration="UdpBinding_IService1" contract="MyRef.IService1"
                name="UdpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>