<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService" />
            </netTcpBinding>
            <udpBinding>
                <binding name="UdpBinding_IService" />
            </udpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3401/MyServHttp" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="MyRef.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="net.tcp://127.0.0.1:3402/MyServTcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService" contract="MyRef.IService"
                name="NetTcpBinding_IService">
                <identity>
                    <userPrincipalName value="WIN8-BC\sumit_000" />
                </identity>
            </endpoint>
            <endpoint address="soap.udp://localhost:3403/MyServUdp" binding="udpBinding"
                bindingConfiguration="UdpBinding_IService" contract="MyRef.IService"
                name="UdpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>