<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCF45_MultipleAuthentication_Single_EDP_In_IIS.Service"
                behaviorConfiguration="ServBehav">
        <endpoint
           address=""
            binding="basicHttpBinding"
            bindingConfiguration="SecBind"
            contract="WCF45_MultipleAuthentication_Single_EDP_In_IIS.IService"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="SecBind">
          <security mode="Transport">
            <transport clientCredentialType="InheritedFromHost"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServBehave">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceAuthenticationManager authenticationSchemes="Anonymous,Basic,IntegratedWindowsAuthentication"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
