<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCF45_UDPBinding_Service.Service1"
                 behaviorConfiguration="ServBehav">
        <endpoint address="soap.udp://localhost:7809/MyServUDP" 
                  binding="udpBinding" 
                  contract="WCF45_UDPBinding_Service.IService1">
        </endpoint>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServBehave">
          <serviceMetadata httpGetUrl="http://localhost:7800/MyServ" httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
     
  </system.serviceModel>

</configuration>
